<form *ngIf="editForm" [formGroup]="editForm">
  <mat-form-field formGroupName="address">
    <mat-label>City</mat-label>
    <input matInput formControlName="city" />
  </mat-form-field>

  <mat-form-field formGroupName="address">
    <mat-label>Street</mat-label>
    <input matInput formControlName="street" />
  </mat-form-field>

  <mat-form-field formGroupName="address">
    <mat-label>Suite</mat-label>
    <input matInput formControlName="suite" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput formControlName="phone" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Website</mat-label>
    <input matInput formControlName="website" />
  </mat-form-field>

  <button mat-raised-button (click)="updateUser()">Save</button>
  <button mat-raised-button (click)="cancelUpdate()">Cancel</button>
</form>
