<table mat-table [dataSource]="users" class="mat-elevation-z8" multiTemplateDataRows>
  <ng-container matColumnDef="adress.city">
    <th mat-header-cell *matHeaderCellDef>City</th>
    <td  mat-cell *matCellDef="let element">{{ element.address.city }}
    </td>
  </ng-container>

  <ng-container matColumnDef="adress.street">
    <th mat-header-cell *matHeaderCellDef>Street</th>
    <td mat-cell *matCellDef="let element">{{ element.address.street }}

  </ng-container>

  <ng-container matColumnDef="adress.suite">
    <th mat-header-cell *matHeaderCellDef>Suite</th>
    <td mat-cell *matCellDef="let element">{{ element.address.suite }}

  </ng-container>

  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef>Company</th>
    <td mat-cell *matCellDef="let element">{{ element.company.name }}

    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td style="padding-right: 40px" mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.name }}

  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td mat-cell *matCellDef="let element">{{ element.phone }}

    </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Username</th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>
  <ng-container matColumnDef="website">
    <th mat-header-cell *matHeaderCellDef>Website</th>
    <td mat-cell *matCellDef="let element">{{ element.website }}

  </ng-container>

  <ng-container matColumnDef="action">
    <th style="margin-right: 20px"  mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <span style="display: flex">
        <button
          *ngIf="!element.editable"
          mat-icon-button
          color="primary"
          focusable="false"
          (click)="startEdit(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button  *ngIf="expandedElement !== element" class ="button" (click)="getUserPosts(element);expandedElement = expandedElement === element ? null : element" mat-button color="primary">Get user’s posts</button>
        <button  *ngIf="expandedElement === element" class ="hide-btn" (click)="expandedElement = expandedElement === element ? null : element" mat-button color="primary">Hide posts</button>


      </span>

    </td>
  </ng-container>
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element"  [attr.colspan]="displayedColumns.length" >
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram" *ngIf="element == expandedElement">
            <div class="example-element-position" *ngFor="let post of element.Posts">{{post.title}}: {{post.body}}</div>
          </div>
          <div class="example-element-description">

          </div>
        </div>
    </td>
</ng-container>



 <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>

  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
  class="example-element-row"  [class.example-expanded-row]="expandedElement === element">
</tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
  class="example-detail-row" ></tr>
</table>
