table
    width: 99%
    margin-left: auto
    margin-right: auto


button
    display: flex
    flex-direction: column
    padding-left: -50px


tr.example-detail-row
  height: 0


tr.example-element-row:not(.example-expanded-row):active
  background: #efefef

id-col
  padding-right: 40px


