
  <!-- <app-navbar></app-navbar> -->
  <router-outlet></router-outlet>

    <div class="nav">
      <!-- <div id="router">
  <router-outlet></router-outlet>
      </div>
  <app-footer></app-footer> -->
  </div>
